.Following {
    width: 55vw;
    margin-left: 22.5vw;
    position: absolute;
    height: max-content;
}
.Following .header{
    color: white;
    margin: 1.5vh 0vh 1.5vh .5vh;
    font-size: 3.5vh;
}