.Navbar {
    height: 94vh;
    width: 20vw;
    background-color: #501B6B;
    border-radius: 15px;
    margin-left: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.Navbar p {
    margin: 0;
}

.Navbar .logo {
    width: 80%;
    height: 10vh;
    margin: 3vh 0;
    background-color: aliceblue;
    cursor: pointer;
}

.Navbar p.navBtn {
    width: 100%;
    text-align: center;
    margin-top: 4vh;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.Navbar .bottom,
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Navbar button {
    margin-bottom: 3vh;
    background: linear-gradient(90deg, #1A65B8 0%, #993CDF 52.34%, #1A65B8 100%);
    height: 8vh;
    width: 80%;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}